.contact-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

input,
textarea {
    width: 100%;
    padding: 15px 50px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
}

.contact-field,
.contact-text {
    margin: 0 10px;
    box-shadow: 5px 5px 30px rgb(226, 226, 226);
    padding: 20px;
    border-radius: 10px;
}

.contact-text h4 {
    text-align: left;
}

.contact-head {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 20px 0;
}